* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
  max-width: 840px;
  width: 100%;
  margin: 0 auto; 
}

/* ------------------------------------ */

.slider__wrapper {
  width: 100%;
  overflow: hidden;
}

/* ------------------------------------ */

.slider {
  width: 400%;
  height: 100%;
  display: flex;
  padding: 20px 0;
}

.slide {
  width: 25%;
  transition: all .5s ease;
}

.slide img {
  width: 100%;
  height: 100%;
}


/* ------------------------------------ */

input[name="radio-slide"] {
  display: none;
}

/* ------------------------------------ */

.nav {
  height: 50px;
  display: flex;
  /* background-color: green; */
}

.bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}

.text-slider {
  width: 400%;
  display: flex;
  justify-self: start;
  grid-area: text;
}
.text {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 1rem;
  width: 25%;
  padding: 0rem;
  transition: all 0.4s ease-in-out;
}

/* ------------------------------------ */

#first:checked ~ .slider .move,
#first:checked ~ .text-slider .move {
  margin-left: 0rem;
}
#second:checked ~ .slider .move,
#second:checked ~ .text-slider .move {
  margin-left: -25%;
}
#third:checked ~ .slider .move,
#third:checked ~ .text-slider .move {
  margin-left: -50%;
}
#fourth:checked ~ .slider .move,
#fourth:checked ~ .text-slider .move {
  margin-left: -75%;
}
